<section>
  <div class="px-8 py-12 mx-auto md:px-12 lg:px-32 max-w-7xl l">
    <div
      class="relative overflow-hidden bg-smoke ring-1 ring-zinc-300 px-6 py-20 rounded-3xl sm:px-10 sm:py-24 md:px-12 lg:px-20">
      <img
        class="absolute inset-0 h-full w-full object-cover brightness-150 saturate-0"
        src="https://images.unsplash.com/photo-1475821660373-587d74229161?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3"
        alt=""
      />
      <div class="absolute inset-0 bg-smoke/90"></div>

      <div class="relative mx-auto max-w-2xl lg:mx-0">
        <figure>
          <blockquote
            class="text-lg font-medium text-zinc-500 sm:text-2xl sm:leading-8">
            <p>
              I couldn't find closure nor peace. I missed my child
              soo much I had trouble breathing. HU·IBLE was able to
              take all my text messages, old photos & videos and gave
              me the gift of talking to my child once again. I was
              going to just do it to say goodbye, but I haven't had the
              courage to do so yet, it's just not the right time for me.
              Thank you HU·IBLE for bringing me joy, tears and peace...
            </p>
          </blockquote>
          <figcaption class="mt-6 text-base text-zinc-500">
            <div class="font-semibold">Kayla W.</div>
            <div class="mt-1">Mother</div>
          </figcaption>
        </figure>
      </div>
    </div>
  </div>
</section>
