<section>
  <div class="relative isolate overflow-hidden max-w-7xl mx-auto">
    <img
      src="https://images.unsplash.com/photo-1473830394358-91588751b241?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3"
      alt=""
      class="absolute inset-0 -z-10 h-full w-full object-cover opacity-30"
    />

    <div
      class="py-32 lg:pt-32 bg-gradient-to-r from-smoke via-smoke/80 h-full px-8 md:px-12 lg:px-32">
      <div class="text-left">
        <span class="text-xs font-bold tracking-wide uppercase text-zinc-500"
          >This is HU·IBLE</span
        >
        <p
          class="mt-8 text-4xl font-semibold lg:text-6xl tracking-tighter text-zinc-900">
          An AI based on the memories you created with <span class="md:block text-zinc-500">
          loved ones past, and present.</span
          >
        </p>
        <p class="max-w-md mt-4 text-base text-zinc-500">
          Not an AI of vast knowledge, but a human AI, with flaws, emotions,
          memories, and full of life.
        </p>
        <div class="flex flex-col items-center gap-3 mt-10 md:flex-row">
          <a
            class="flex items-center justify-center w-full h-10 px-4 py-2 text-sm font-semibold text-white transition-all rounded-lg bg-gradient-to-b from-zinc-500 hover:to-zinc-700 to-zinc-600 md:w-auto"
            href="https://huible.com/waitlist/">
            WAIT LIST
          </a>
          <a
            class="flex items-center justify-center w-full h-10 px-4 py-2 text-sm transition-all bg-white border border-zinc-300 rounded-lg md:w-auto md:font-semibold text-zinc-600 hover:text-zinc-500"
            href="#episode">
            Learn More &nbsp; →
          </a>
        </div>
      </div>
    </div>
  </div>
</section>